* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
}

a {
    color: #000000;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2ef;
}

.inner-sec {
    display: flex;
    align-items: center;
    gap: 109px;
    padding: 70px 0;
    justify-content: center;
}

.login-page {
    padding: 42px 0 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 52px;
    background-color: #ffffff;
    border-radius: 32px;
    width: 513px;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 98px;
    width: 100%;
}

.login-body-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    width: 80%;
}

.login-group {
    width: 100%;
    height: 60px;
    background: #E0E0FC;
    border-radius: 40px;
    display: flex;
    gap: 8px;
    padding-left: 24px;
    align-items: center;
}

.login-group-text {
    background: #E0E0FC;
    border: none;
}

input:focus {
    outline: none;
}

.login-action {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

input[type="checkbox"] {
    cursor: pointer;
}

.login-form-action label {
    cursor: pointer;
}

.login-btn {
    background-color: #395F2F;
    color: #FFFFFF;
    width: 278px;
    height: 49px;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    border: none;
    transition: color 0.8s ease;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #25471d;
    color: #FFFFFF;
}

.login-btn:active {
    background-color: #132b0e;
    color: #dddddd;
}

.login-another {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    width: 70%;
}

.login-another-text {
    font-size: 14px;
    font-weight: normal;
}

.login-icon-box {
    display: flex;
    gap: 47px;
}

.login-icon {
    width: 95px;
    height: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 50%;
    height: auto;
}

@media (max-width: 1100px) {
    .img {
        display: none;
    }

    .login-page {
        max-width: 513px;
        width: 100%;
    }
}